/* whole document */

html {
  scroll-behavior: smooth;
}

html,
body {
  scroll-padding-top: 100px;
}

body {
  margin-top: 80px !important;
  color: $font-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: 0.04em;
  color: $font-color;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
}

/* links */

a:active,
a:focus,
a:hover {
  color: $active-color;
}

/* anchor headings */

a > svg.anchor-symbol {
  color: transparent;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  fill: $toc-font-color;
}

a > svg.anchor-symbol:hover {
  fill: $primary-color;
  transition: fill 0.6s ease;
}

/* dark mode backgrounds */
.dark .home-section {
  background: $dark-back-a;
}

.dark .home-section:nth-of-type(even) {
  background: $dark-back-b;
}

body.dark,
.dark .docs-toc-link,
.dark .docs-sidebar .nav > li:not(.active) > a,
.dark .modal button.close,
.dark input,
.dark .form-control,
.dark .form-control:focus {
  background: $dark-back-a;
}

.dark .card {
  background: $dark-card-back;
}

@media (max-width: 991.98px) {
  .dark .navbar-collapse {
    background-color: $dark-back-dropdown;
  }
}

.dark .dropdown-item,
.dark .dropdown-menu {
  background-color: $dark-back-dropdown !important;
}

.dark .search-results,
.dark .search-header {
  background-color: $dark-back-a;
}
