/* SASS variables */
$primary-color: #554b9d;
$active-color: #492a9e;
$code-background: #f1f3f4;

$font-color: #2b2b2b;
$toc-font-color:  #1a162d99;

$alert-warning-color: #ff003f;
$alert-todo-color: #d7add0;
$alert-note-color: #1c3249;
$alert-note-border-color: #abb8c7;

$white: #fff;
$black: #000;

/* Imports */
@import "basics";
@import "navbar";
@import "containers";

@import "home";
@import "blog";
@import "experience";

@import "alerts";
@import "buttons";
@import "cards";
@import "code";
@import "images";
