/* SASS variables */
$primary-color: #8175d8;
$active-color: #492a9e;
$code-background: #f1f3f4;

$dark-back-a: #141414;
$dark-back-b: #161616;
$dark-back-dropdown: #222222;
$dark-card-back: #191919;
// $dark-back-a: #272935;
// $dark-back-b: #272935;

$font-color: #2b2b2b;
$toc-font-color:  #1a162d99;

$alert-warning-color: #ff003f;
$alert-todo-color: #d7add0;
$alert-note-color: #1c3249;
$alert-note-border-color: #abb8c7;

$white: #fff;
$black: #000;

/* Imports */
@import "basics";
@import "navbar";
@import "containers";

@import "home";
@import "blog";
@import "experience";

@import "alerts";
@import "buttons";
@import "cards";
@import "code";
@import "images";
